environment: production

image:
  repo: web3f/polkadot-watcher-auctions
  tag: v0.1.1

config:
  endpoint: "wss://rococo-rpc.polkadot.io/"
  port: 3000
  logLevel: info
  debug:
    enabled: false
  subscriber:
    modules:
      event:
        enabled: true
      block:
        enabled: false
  persister:
    mongo:
      uri: 'mongodb://localhost:27017/auctions' 

resources: 
  requests:
    cpu: "100m"
    memory: "200Mi"
  limits:
    cpu: "300m"
    memory: "600Mi" 
